<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>GeoInnovation Service Center Login</title>

    <script src="/qrcode.min.js"></script>

    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="/TAM-Logo.svg" alt="GeoInnovation Service Center Logo" />
      </div>

      <h1 class="title"><%= title %></h1>

      <p class="text center authorize-instructions">
        Log into <i><%= requestingHost %></i> using your GeoInnovation account.
      </p>

      <div class="login-card">
        <!-- Views are inserted in line below -->
        <%- body %>

        <!-- Login help is inserted below -->
        <!-- <div class="login-help">
          <a href="<%= details.returnTo %>">[ Cancel ]</a>
          <% if (client.tosUri) { %><a href="<%= client.tosUri %>">[ Terms of Service ]</a><% } %> <% if (client.policyUri) {
          %><a href="<%= client.policyUri %>">[ Privacy Policy ]</a><% } %>
        </div> -->
      </div>

      <!-- Dev information is inserted below -->
      <%if (devMode) { %>
      <div class="login-card">
        <div class="grant-debug">
          <%= details.uuid %>
        </div>
        <div class="grant-debug">
          <%- params %>
        </div>
        <div class="grant-debug">
          <%- interaction %>
        </div>
      </div>
      <%} %>
    </div>
  </body>
</html>
