<form autocomplete="off" action="/pwr/<%= token %>" method="post">
  <input type="hidden" name="sub" value="<%= sub %>"/>
  <input type="hidden" name="question1" value="<%= questions[0].id %>"/>
  <input type="hidden" name="question2" value="<%= questions[1].id %>"/>

  <h3 required type="text" name="question1" class="error-input"><%= questions[0].text %></h3>
  <input required type="text" name="answer1" autofocus="on">

  <h3 required type="text" name="question2" class="error-input"><%= questions[1].text %></h3>
  <input required type="text" name="answer2" autofocus="on">

  <button type="submit" class="login login-submit">Submit</button>
</form>
