<form autocomplete="off" action="/interaction/<%= details.uuid %>/verifypassword" method="post">
  <input type="hidden" name="uuid" value="<%= details.uuid %>"/>
  <input type="hidden" name="email" value="<%= email %>"/>
  <input type="hidden" name="remember" value="<%= remember %>"/>
  <p><%= email %></p>
  <input required type="password" name="password" placeholder="Password" <% if (details.params.login_hint) { %>autofocus="on"<% } %>>
  <% if (error) {%> <p><%= message %></p> <%}%>

  <button type="submit" class="login login-submit">Sign-in</button>
</form>