<form autocomplete="off" action="/user/pwr/<%= token %>" method="post">
  <input type="hidden" name="guid" value="<%= guid %>" />
  <input type="hidden" name="token" value="<%= token %>" />
  <input type="hidden" name="question1" value="<%= questions[0].guid %>" />
  <input type="hidden" name="question2" value="<%= questions[1].guid %>" />

  <h3 required type="text" class="error-input"><%= questions[0].text %></h3>
  <input required type="text" name="answer1" autofocus />

  <h3 required type="text" class="error-input"><%= questions[1].text %></h3>
  <input required type="text" name="answer2" />
  <p class="text center authorize-instructions"></p>
  <button type="submit" class="login login-submit">Submit</button>
</form>
