<form autocomplete="off" action="/user/register" method="post">
  <% if (error) {%>
    <ul>
    <% message.map((errorMessage) => { %>
      <li id="uservalidation-error-message"><%= errorMessage %></li>
    <% }) %>
    </ul>
  <%}%>
  
  <input required type="text" name="name" placeholder="Name" autofocus="on" />
  <input required type="text" name="email" placeholder="Email" />
  <input required type="password" id="password" name="password" placeholder="Password" />
  <input required type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password" />
  <p class="text center authorize-instructions">
    Please choose and answer two secret questions:
  </p>
  <% if (questions) { %>
  <select name="secretQuestion1" required class="dropdown">
    <% for(var i = 0; i < questions.length; i++) { %>
    <option class="dropdown-option" value="<%= questions[i].guid %>"><%= questions[i].questionText %></option>
    <% } %>
    <input required type="text" name="secretanswer1" placeholder="Secret answer" />
  </select>
  <select name="secretQuestion2" required class="dropdown">
    <% for(var i = 0; i < questions.length; i++) { %>
    <option <% if(i == 1) { %>selected<% } %> class="dropdown-option" value="<%= questions[i].guid %>"><%= questions[i].questionText %></option>
    <% } %>
    <input required type="text" name="secretanswer2" placeholder="Secret answer" />
  </select>
  <% } %> 
  <button type="submit" class="form-input">Register</button>
</form>
